#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: none;
}

.button {
  outline: none;
  border: none;
  border-radius: 999px;
  margin-top: -1rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  background: linear-gradient(45deg, orange, orangered);
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 4%);
}

.title {
  font-weight: 700;
  font-size: 20px;
  display:flex;
}
.swap{
  color:linear-gradient(45deg, orange, orangered);
  display:flex;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
